 main{
     margin-top:70px;
     
 }
.content{    
    margin: 0 auto ;
    display: block;
    justify-content: center;
    width: 990px;
    height: 680px;
    background:url("/assets/comicbg.jpg"); 
}

p{
    width: 990px;
    text-align: center;
    position: absolute;
    top:280px;
    font-size: 50px;
    text-shadow: 0 0 9px #FF0000;
    
}