h1{
    color: red; 
    position: relative;
    bottom:205px;
    left:-18px;
    font-size: 32px;
    transform: scaleY(1.5);
    transform: rotate(-20deg);
    text-shadow: 0 0 9px #FF0000;
}

.side-nav{
    width: 300px;
    color: white;
    position: relative;
    left:-38px;
    padding: 56px;
    font-size: 32px;
   
}li{
    font-family: Heiti TC;
    padding-bottom:29px;
    list-style-type: none;
}